.search {
  padding: 20px;
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  &__input {
    border: none;
    background-color: $blue;
    color: $white;
    padding: 10px 10px 10px 20px;
    width: 40%;
    border-radius: 20px;
    font-family: Lato;
    font-size: 20px;
    transition: transform .25s linear;
    &:focus {
        outline: none;
        transform: scale(1.02);
    }
    &::placeholder {
        color: rgba($white,0.4);
    }
  }
}
